<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/header') -%>
        <div class="container">
            <div class="g-0 row justify-content-center align-content-center h-100 mt-5">
                <div class="card shadow mb-3 d-flex justify-content-center">
                    <div class="row g-0">
                        <div class="col-lg-4 d-lg-block d-md-none d-sm-none d-none">
                            <img src="/images/alexandra-fuller-_8kC6tyFWco-unsplash.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-12 d-flex justify-content-center align-items-center">
                            <div class="card-body">
                                <div class="text-center">
                                    <% if (messages.error) { %>
                                        <div class="alert alert-warning alert-dismissible fade show w-50 mx-auto">
                                            <p>
                                                <%= messages.error %>
                                            </p>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        </div>
                                        <% } %>
                                            <h3>Sign in</h3>
                                </div>
                                <form class="mt-3 mx-auto w-50" method="POST" action="/login">
                                    <div class="mb-3">
                                        <input type="email" name="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" name="password" class="form-control"
                                            placeholder="Password">
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-primary" type="submit">Sign in</button>
                                        <p class="text-center">Don't have an account? Go to <a href="/register"
                                                class="text-decoration-none">register page</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') -%>
</body>

</html>